@tailwind base;
@tailwind components;
@tailwind utilities;

.completed {
  color: #a0aec0;
  text-decoration: line-through;
  text-decoration-color: #a0aec0;
}

.nostrike {
  text-decoration: none !important;
}
